* {
  margin: 0;
  padding: 0;
}

body {
  background: lightblue;
}

ul {
  list-style: none;
  width: 900px;
  margin: 50px auto;
}

li {
  background: white;
  padding: 10px;
  border-radius: 10px;
}
