* {
  margin: 0;
  padding: 0;
}

body {
  background: lightblue;
  font-family: sans-serif;
}

h1 {
  width: 300px;
  margin: 20px auto;
}

ul {
  list-style: none;
  width: 900px;
  margin: 50px auto;
}

li {
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

li::after {
  clear: both;
  content: "";
  display: block;
}

li:nth-child(odd) .text-container, li:nth-child(odd) img {
  float: right;
  text-align: right;
}

li:nth-child(odd) .text-container {
  margin-right: 10px;
}

li img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  float: left;
}

li .text-container {
  float: left;
  margin-left: 10px;
}

li span {
  color: #999;
}
